@model WebQuanLyAN.Models.Baihat
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/GUI.cshtml";
}

<h2>Sửa Thông Tin Bài Hát</h2>
@if (TempData["ThongBao"] != null)
{
    <script language="text/javascript" charset="UTF-8"
            type="text/javascript">
            window.onload = function () {
                alert("@TempData["ThongBao"]");
        };
    </script>
}
<div class="table-wrapper">
    @using (Html.BeginForm("sua", "DSBH"))
    {
        <table class="fl-table">
            <tr>
                <td> @Html.HiddenFor(model => model.Id)</td>
            </tr>
            <tr>
                <td>
                    Tên Bài Hát:
                </td>
                <td> @Html.EditorFor(model => model.tenBH)</td>
            </tr>
            <tr>
                <td>
                    Tên Nhạc sĩ:
                </td>
                <td>
                    @Html.DropDownList("nhacS", ViewBag.data as SelectList, Model.Nhacsi.tenNS, new { @class = "form-control" })
                </td>

            </tr>

            <tr>
                <td>
                    Thể Loại:
                </td>
                <td>
                    @Html.DropDownList("theL", ViewBag.data as SelectList, Model.Theloai.tenTL, new { @class = "form-control" })
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Cập nhật" />
                </td>

            </tr>

        </table>
    }
</div>